# SkyGuard AI System Environment Variables
PORT=5000
CLIENT_URL=https://skyguard-ai.vercel.app
MONGO_URI=mongodb://localhost:27017/skyguard
ML_SERVICE_URL=http://localhost:8000

# Client environment variables
VITE_API_URL=https://skyguard-aii.onrender.com
VITE_SOCKET_URL=https://skyguard-aii.onrender.com
